<div>
	<form action="" method="POST" role="form">
		<legend>Add Student</legend>

		<div class="dropdown form-group">
		    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">School Name
		    <span class="caret"></span></button>
		    <ul class="dropdown-menu">
		      <li>School One</li>  
		    </ul>
		</div>
	
		<div class="form-group">
			<label for="name">Student Name</label>
			<input type="text" class="form-control" id="name" placeholder="Name of the Student">
		</div>

		<div class="form-group">
			<label for="class">Class</label>
			<input type="text" class="form-control" id="class" placeholder="Class">
		</div>
	
	
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
	
</div>