<div>
	<form action="" method="POST" role="form">
		<legend>Edit Student</legend>

		<div class="form-group">
			<label for="school">Select</label>
			<select>
				<option>School One</option>
			</select>
		</div>

		<div class="form-group">
			<label for="name">Student Name</label>
			<input type="text" class="form-control" id="name" placeholder="Name of the Student">
		</div>

		<div class="form-group">
			<label for="class">Class</label>
			<input type="text" class="form-control" id="class" placeholder="Class">
		</div>
	
	
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>